@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", "Plus Jakarta Sans Fallback",
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary: #262f59;
    --color-background: #0026ce;
    --color-hover: #001ba0;
    --color-background-dark: #11347e;
    --color-backgroun-light: #d7dff4;
}

/* Wave shape utility */
.wave-divider {
    position: relative;
}

.wave-divider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, #1e3a8a 0%, #1e40af 50%, #1e2a5e 100%);
    clip-path: ellipse(100% 100% at 50% 0%);
}
